*  {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    background-color: aqua;
    
}

header {
    background-color: antiquewhite;
    color: brown;
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    display: block;
}